#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.headingtext
{
	position: relative;
	height: 180px;
}

.main-heading
{
	font-size: 70px;
	font-family: 'Dosis' ;
	font-weight: 500;
	padding-right: 80px;
	text-align: right;
	/*color:  #cc99ff;*/
	color: black;
}
.sec-heading
{
	font-size: 24px;
	font-family: 'Dosis' ;
	font-weight: 500;
	right: 110px;
	top: 90px;
	position: absolute;
	/*color:  #cc99ff;*/
	color: black;
}

.third-heading
{
	font-size: 24px;
	font-family: 'Dosis' ;
	font-weight: 500;
	right: 110px;
	top: 130px;
	position: absolute;
	/*color:  #cc99ff;*/
	color: black;
}